# **THEORY QUESTIONS:**

#Q1. What are data structures, and why are they important ?

Answer: Data structures are ways of organizing and storing data. They are important because they help programs run faster and use memory more efficiently.

#Q2. Explain the difference between mutable and immutable data types with examples ?


Answer: Mutable data types can be changed after they are created, while immutable data types cannot be changed.

Example(mutable) :
my_list = [1, 2, 3] my_list[0] = 10 # Changing the first item my_list.append(4) # Adding a new item

Answer: Mutable data types can be changed after they are created, while immutable data types cannot be changed.

Example(mutable) :
my_list = [1, 2, 3] my_list[0] = 10 # Changing the first item my_list.append(4) # Adding a new item

Example(Immutable):
my_tuple = (1, 2, 3)

my_tuple[0] = 10 # This would cause an error

#Q3. What are the main differences between lists and tuples in Python ?
Answer: The main differences between lists and tuples in Python are:

Changeability:

List: You can change, add, or remove items. Tuple: You cannot change, add, or remove items. Symbols:

List: Created with square brackets []. Tuple: Created with round brackets (). Speed:

List: Slower because it can be changed. Tuple: Faster because it cannot be changed. When to use:

List: Use when you need to change data. Tuple: Use when you don't want the data to change.

#Q4. Describe how dictionaries store data ?
Answer: Dictionaries in Python store data as pairs of keys and values. Each key is unique and is used to look up a corresponding value.

#Q5. Why might you use a set instead of a list in Python ?
Answer: You might use a set instead of a list in Python because:

No Duplicates: A set automatically removes duplicate values, while a list can have duplicates. Faster Search: Sets are quicker when checking if an item is in the set. Unordered: Sets don't care about the order of items, so if order doesn’t matter, a set is a good choice.

#Q6. What is a string in Python, and how is it different from a list ?
Answer: A string in Python is a sequence of characters, used to represent text. It is enclosed in either single quotes (') or double quotes (").

A string is for text and cannot be changed. A list can hold various types of data and can be changed.

#Q7. How do tuples ensure data integrity in Python ?
                                                                                                                    
Answer: Tuples ensure data integrity in Python because they are immutable, meaning once you create a tuple, you cannot change, add, or remove any of its elements. This makes sure that the data inside a tuple stays the same throughout the program, protecting it from accidental changes.

#Q8. What is a hash table, and how does it relate to dictionaries in Python ?
Answer: A hash table is a data structure that stores key-value pairs and uses a special function (called a hash function) to convert the key into an index where the value is stored. This allows for fast lookups, insertions, and deletions.

#Q9: Can lists contain different data types in Python ?
                                                                                                                                                                                                                                           
Answer : Yes, lists in Python can contain different data types. A list can hold a mix of numbers, strings, booleans, or even other lists.

#Q10. Explain why strings are immutable in Python ?
Answer: Strings are immutable in Python because once they are created, their content cannot be changed. This helps make programs faster and safer by preventing accidental changes to the data. If you need to modify a string, Python creates a new string with the changes instead of changing the original one.

#Q11. What advantages do dictionaries offer over lists for certain tasks ?
Answer: Dictionaries offer several advantages over lists for certain tasks:

Faster Lookups: You can quickly find a value using a key in a dictionary, while with a list, you have to search through all the items.

Key-Value Pairs: Dictionaries store data as key-value pairs, making it easier to organize and access data based on a specific key, unlike lists which just store values in order.

No Duplicates for Keys: In a dictionary, each key is unique, so you don't need to worry about duplicate keys, while lists can have duplicate items.

#Q12. Describe a scenario where using a tuple would be preferable over a list ?
                                                                                                                    
Answer: A tuple would be better than a list if you need to store data that should not be changed. For example, if you're storing a date (like year, month, day), you don’t want the values to change by accident.

#Q13. How do sets handle duplicate values in Python ?
Answer: Sets automatically remove duplicate values. If you try to add a duplicate value to a set, it will only keep one copy of that value.

#Q14.How does the “in” keyword work differently for lists and dictionaries ?
Answer: The in keyword works differently for lists and dictionaries in Python:

For lists: It checks if a value is present in the list. For dictionaries: It checks if a key is present in the dictionary, not the value.

#Q15. Can you modify the elements of a tuple? Explain why or why not ?
Answer: No, you cannot modify the elements of a tuple because tuples are immutable. Once a tuple is created, its values cannot be changed, added, or removed. This is to protect the data from being accidentally changed.

#Q16. What is a nested dictionary, and give an example of its use case ?
Answer: A nested dictionary is a dictionary that contains other dictionaries as values. This allows you to organize data in multiple layers.

Example: students = { "Millan": {"age": 20, "grades": [85, 90, 88]}, "Rex": {"age": 22, "grades": [78, 82, 80]}, }

Use case: You can access specific information about a student, like Bob's age, by using the student's name as the key, and then the age key inside that student's dictionary.

Example: print(students["Rex"]["age"])

#Q17.Describe the time complexity of accessing elements in a dictionary ?
Answer: Accessing elements in a dictionary is very fast and has a time complexity of O(1), which means it takes the same amount of time no matter how many items are in the dictionary.

This is because dictionaries use a special method (hashing) to find the value quickly using the key.

#Q18. In what situations are lists preferred over dictionaries ?
Answer: Lists are preferred over dictionaries in situations where:

Order matters: If you need to keep items in a specific order, use a list.

Index-based access: If you need to access items by their position (like the first, second, etc.), lists are better.

Storing similar items: If you're storing a collection of similar items (like numbers or names), a list is a good choice.

#Q19. Why are dictionaries considered unordered, and how does that affect data retrieval ?
Answer: Dictionaries are considered unordered because the items (key-value pairs) do not have a specific order. This means the items might not appear in the same order every time you access them.

However, this doesn't affect data retrieval. You can still quickly find values by their keys regardless of the order of the items.

#Q20. Explain the difference between a list and a dictionary in terms of data retrieval ?
Answer: The main difference between a list and a dictionary in terms of data retrieval is how you access the data:

List: You access elements by their index (position in the list).

Dictionary: You access elements by their key, not by position.

# **PRATICAL QUESTIONS:**

In [1]:
### Q1. Write a code to create a string with your name and print it ?

#Answer:

my_name = "Millan"
print(my_name)

Millan

In [2]:
### Q2. Write a code to find the length of the string "Hello World" ?

#Answer:

my_string = "Hello World"
length = len(my_string)
print(length)

11

In [3]:
## Q3. Write a code to slice the first 3 characters from the string "Python Programming" ?

#Answer:

my_string = "Python Programming"
sliced_string = my_string[:3]
print(sliced_string)

Pyt

In [4]:
### Q4. Write a code to convert the string "hello" to uppercase ?

# Answer

my_string = "hello"
uppercase_string = my_string.upper()
print(uppercase_string)

HELLO

In [5]:
### Q5. Write a code to replace the word "apple" with "orange" in the string "I like apple" ?

#Answer:

my_string = "I like apple"
new_string = my_string.replace("apple", "orange")
print(new_string)

I like orange

In [6]:
### Q6. Write a code to create a list with numbers 1 to 5 and print it ?

#Answer:

my_list = [1, 2, 3, 4, 5]
print(my_list)

[1, 2, 3, 4, 5]

In [7]:
### Q7. Write a code to append the number 10 to the list [1, 2, 3, 4] ?
#Answer:

my_list = [1, 2, 3, 4]
my_list.append(10)
print(my_list)

[1, 2, 3, 4, 10]

In [8]:
###Q8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]

# Answer:

my_list = [1, 2, 3, 4, 5]
my_list.remove(3)
print(my_list)

[1, 2, 4, 5]

In [9]:
### Q9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'] ?

#Answer:

my_list = ['a', 'b', 'c', 'd']
second_element = my_list[1]
print(second_element)

b

In [10]:
### Q10. Write a code to reverse the list [10, 20, 30, 40, 50].

#Answer:

my_list = [10, 20, 30, 40, 50]
my_list.reverse()
print(my_list)

[50, 40, 30, 20, 10]

In [25]:
### Q11. Write a code to create a tuple with the elements 100, 200, 300 and print it ?

# Answer:

my_tuple = (100, 200, 300)
print(my_tuple)

(100, 200, 300)

In [26]:
### Q12.  Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

#Answer:

# Define the tuple
colors = ('red', 'green', 'blue', 'yellow')

# Access the second-to-last element using negative indexing
second_to_last = colors[-2]

# Print the result
print(second_to_last)

blue

In [27]:
### Q13. Write a code to find the minimum number in the tuple (10, 20, 5, 15)

#Answer:


# Define the tuple
numbers = (10, 20, 5, 15)

# Find the minimum number using the min() function
minimum_number = min(numbers)

# Print the result
print(minimum_number)

5

In [14]:
### Q14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

#Answer:

my_tuple = ('dog', 'cat', 'rabbit')
index_of_cat = my_tuple.index('cat')
print(index_of_cat)

1

In [28]:
### Q15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

#Answer:

# Define the tuple with three different fruits
fruits = ('apple', 'banana', 'orange')

# Check if 'kiwi' is in the tuple
if 'kiwi' in fruits:
    print("Kiwi is in the tuple!")
else:
    print("Kiwi is not in the tuple.")

Kiwi is not in the tuple.

In [29]:
### Q16. Write a code to create a set with the elements 'a', 'b', 'c' and print it

#Answer:

# Create the set with elements 'a', 'b', 'c'
my_set = {'a', 'b', 'c'}

# Print the set
print(my_set)

{'c', 'b', 'a'}

In [30]:
### Q17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

#Answer:

# Define the set
my_set = {1, 2, 3, 4, 5}

# Clear all elements from the set
my_set.clear()

# Print the set after clearing
print(my_set)

set()

In [31]:
### Q18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.

#Answer:

# Define the set
my_set = {1, 2, 3, 4}

# Remove the element 4 from the set
my_set.remove(4)

# Print the set after removal
print(my_set)

{1, 2, 3}

In [32]:
### Q19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

#Answer:


# Define the sets
set1 = {1, 2, 3}
set2 = {3, 4, 5}

# Find the union of the two sets
union_set = set1.union(set2)

# Print the result
print(union_set)

{1, 2, 3, 4, 5}

In [33]:
### Q20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

#Answer:

# Define the sets
set1 = {1, 2, 3}
set2 = {2, 3, 4}

# Find the intersection of the two sets
intersection_set = set1.intersection(set2)

# Print the result
print(intersection_set)

{2, 3}

In [34]:
###Q21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

#Answer:

# Create the dictionary
person = {
    "name": "ReX",
    "age": 23,
    "city": "Hyderabad"
}

# Print the dictionary
print(person)

{'name': 'ReX', 'age': 23, 'city': 'Hyderabad'}

In [35]:
### Q22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

#Answer:

# Define the dictionary
person = {'name': 'ReX', 'age': 23}

# Add the new key-value pair
person['country'] = 'HYD'

# Print the updated dictionary
print(person)

{'name': 'ReX', 'age': 23, 'country': 'HYD'}

In [36]:
### Q23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

#Answer:

# Define the dictionary
person = {'name': 'Millan', 'age': 23}

# Access the value associated with the key 'name'
name_value = person['name']

# Print the value
print(name_value)

Millan

In [37]:
### Q24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

#Answer:

# Define the dictionary
person = {'name': 'Soumya', 'age': 19, 'city': 'Bhubaneswar'}

# Remove the key 'age' from the dictionary
del person['age']

# Print the updated dictionary
print(person)

{'name': 'Soumya', 'city': 'Bhubaneswar'}

In [43]:
### Q25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.


#Answer:

# Define the dictionary
person = {'name': 'Sambit', 'city': 'Canada'}

# Check if the key 'city' exists in the dictionary
if 'city' in person:
    print("The key 'city' exists in the dictionary.")
else:
    print("The key 'city' does not exist in the dictionary.")

The key 'city' exists in the dictionary.

In [45]:
### Q26. Write a code to create a list, a tuple, and a dictionary, and print them all.

#Answer:

# Create a list
my_list = [1, 2, 3, 4, 5]

# Create a tuple
my_tuple = ('apple', 'banana', 'cherry')

# Create a dictionary
my_dict = {'name': 'ReX', 'age': 23, 'city': 'Bhubaneswar'}

# Print the list, tuple, and dictionary
print("List:", my_list)
print("Tuple:", my_tuple)
print("Dictionary:", my_dict)

List: [1, 2, 3, 4, 5]
Tuple: ('apple', 'banana', 'cherry')
Dictionary: {'name': 'ReX', 'age': 23, 'city': 'Bhubaneswar'}

In [46]:
### Q27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced).

#Answer:

import random

# Create a list of 5 random numbers between 1 and 100
random_numbers = [random.randint(1, 100) for _ in range(5)]

# Sort the list in ascending order
random_numbers.sort()

# Print the sorted list
print("Sorted list of random numbers:", random_numbers)

Sorted list of random numbers: [12, 24, 36, 58, 76]

In [47]:
### Q28. Write a code to create a list with strings and print the element at the third index.

#Answer:

# Create a list of strings
my_list = ["apple", "banana", "cherry", "date", "elderberry"]

# Print the element at the third index (fourth element)
print(my_list[3])

date

In [49]:
### Q29. Write a code to combine two dictionaries into one and print the result.

#Answer:

#Define two dictionaries
dict1 = {'name': 'REX', 'age': 23}
dict2 = {'city': 'Paris', 'country': 'France'}

# Combine the two dictionaries
dict1.update(dict2)

# Print the combined dictionary
print(dict1)

{'name': 'REX', 'age': 23, 'city': 'Paris', 'country': 'France'}

In [50]:
### Q30.  Write a code to convert a list of strings into a set.

#Answer:

# Create a list of strings
string_list = ["apple", "banana", "cherry", "apple", "banana"]

# Convert the list into a set
string_set = set(string_list)

# Print the resulting set
print(string_set)

{'banana', 'apple', 'cherry'}